services:
  mc:
    image: energypatrikhu/pterodactyl-minecraft-server
    tty: true
    stdin_open: true
    ports:
      - "25565:25565"
    environment:
      EULA: "TRUE"
    volumes:
      # attach the relative directory 'data' to the container's /home/container path
      - ./home/container:/home/container
